.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100vw;
  max-width: var(--content-max-width);
  align-self: center;
}

.header h1 {
  margin: 0;
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 5px;
  background-color: var(--background-color);
  border-radius: 100%;
  box-shadow: 0px 0px 30px 25px var(--background-color);
  cursor: pointer;
}

.header svg {
  background-color: var(--background-color);
  border-radius: 100%;
  box-shadow: 0px 0px 30px 25px var(--background-color);
  cursor: pointer;
  fill: var(--secondary-color);
}

.content {
  flex-grow: 1;
  align-self: center;
  padding: 20px;
  width: 100vw;
  max-width: var(--content-max-width);
}

.footer {
  background-color: var(--footer-background-color);
  border-top: 1px solid var(--footer-accent-color);
  box-shadow: 0px -10px 20px -5px var(--background-color);
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.footerContent {
  padding: 30px;
  width: 100vw;
  max-width: var(--content-max-width);
  display: flex;
  justify-content: center;
  color: var(--footer-text-color);
}

.footer p {
  flex-grow: 1;
  margin: 0;
}

.footer a:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 600px) {
  .header {
    padding: 15px 20px;
  }

  .content {
    padding: 10px;
  }

  .footer p {
    display: none;
  }
}
